test/src/main/java/org/informatika/client/AssetLifecycleManagement7.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.informatika.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.informatika.org/" name="AssetLifecycleManagementService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.informatika.org/" schemaLocation="http://localhost:9000/AssetLifecycleManagement?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="close">
<part name="parameters" element="tns:close"></part>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"></part>
</message>
<message name="registerAset">
<part name="parameters" element="tns:registerAset"></part>
</message>
<message name="registerAsetResponse">
<part name="parameters" element="tns:registerAsetResponse"></part>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"></part>
</message>
<message name="insertJadwalMaintenance">
<part name="parameters" element="tns:insertJadwalMaintenance"></part>
</message>
<message name="insertJadwalMaintenanceResponse">
<part name="parameters" element="tns:insertJadwalMaintenanceResponse"></part>
</message>
<message name="registerVendor">
<part name="parameters" element="tns:registerVendor"></part>
</message>
<message name="registerVendorResponse">
<part name="parameters" element="tns:registerVendorResponse"></part>
</message>
<message name="deleteAset">
<part name="parameters" element="tns:deleteAset"></part>
</message>
<message name="deleteAsetResponse">
<part name="parameters" element="tns:deleteAsetResponse"></part>
</message>
<message name="setNamaAset">
<part name="parameters" element="tns:setNamaAset"></part>
</message>
<message name="setNamaAsetResponse">
<part name="parameters" element="tns:setNamaAsetResponse"></part>
</message>
<message name="setPemilikAset">
<part name="parameters" element="tns:setPemilikAset"></part>
</message>
<message name="setPemilikAsetResponse">
<part name="parameters" element="tns:setPemilikAsetResponse"></part>
</message>
<message name="setKondisiAset">
<part name="parameters" element="tns:setKondisiAset"></part>
</message>
<message name="setKondisiAsetResponse">
<part name="parameters" element="tns:setKondisiAsetResponse"></part>
</message>
<message name="insertKebutuhanMaintenance">
<part name="parameters" element="tns:insertKebutuhanMaintenance"></part>
</message>
<message name="insertKebutuhanMaintenanceResponse">
<part name="parameters" element="tns:insertKebutuhanMaintenanceResponse"></part>
</message>
<message name="insertFasilitasAset">
<part name="parameters" element="tns:insertFasilitasAset"></part>
</message>
<message name="insertFasilitasAsetResponse">
<part name="parameters" element="tns:insertFasilitasAsetResponse"></part>
</message>
<message name="getAset">
<part name="parameters" element="tns:getAset"></part>
</message>
<message name="getAsetResponse">
<part name="parameters" element="tns:getAsetResponse"></part>
</message>
<message name="getAsetByKategori">
<part name="parameters" element="tns:getAsetByKategori"></part>
</message>
<message name="getAsetByKategoriResponse">
<part name="parameters" element="tns:getAsetByKategoriResponse"></part>
</message>
<message name="getAsetByNama">
<part name="parameters" element="tns:getAsetByNama"></part>
</message>
<message name="getAsetByNamaResponse">
<part name="parameters" element="tns:getAsetByNamaResponse"></part>
</message>
<message name="getFasilitasAset">
<part name="parameters" element="tns:getFasilitasAset"></part>
</message>
<message name="getFasilitasAsetResponse">
<part name="parameters" element="tns:getFasilitasAsetResponse"></part>
</message>
<message name="notifyMaintenanceToVendor">
<part name="parameters" element="tns:notifyMaintenanceToVendor"></part>
</message>
<message name="notifyMaintenanceToVendorResponse">
<part name="parameters" element="tns:notifyMaintenanceToVendorResponse"></part>
</message>
<message name="sayHelloWorld">
<part name="parameters" element="tns:sayHelloWorld"></part>
</message>
<message name="sayHelloWorldResponse">
<part name="parameters" element="tns:sayHelloWorldResponse"></part>
</message>
<portType name="AssetLifecycleManagement">
<operation name="close">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/closeRequest" message="tns:close"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/closeResponse" message="tns:closeResponse"></output>
</operation>
<operation name="registerAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAsetRequest" message="tns:registerAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAsetResponse" message="tns:registerAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAset/Fault/SQLException"></fault>
</operation>
<operation name="insertJadwalMaintenance">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertJadwalMaintenanceRequest" message="tns:insertJadwalMaintenance"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertJadwalMaintenanceResponse" message="tns:insertJadwalMaintenanceResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertJadwalMaintenance/Fault/SQLException"></fault>
</operation>
<operation name="registerVendor">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendorRequest" message="tns:registerVendor"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendorResponse" message="tns:registerVendorResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendor/Fault/SQLException"></fault>
</operation>
<operation name="deleteAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAsetRequest" message="tns:deleteAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAsetResponse" message="tns:deleteAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAset/Fault/SQLException"></fault>
</operation>
<operation name="setNamaAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setNamaAsetRequest" message="tns:setNamaAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setNamaAsetResponse" message="tns:setNamaAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setNamaAset/Fault/SQLException"></fault>
</operation>
<operation name="setPemilikAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setPemilikAsetRequest" message="tns:setPemilikAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setPemilikAsetResponse" message="tns:setPemilikAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setPemilikAset/Fault/SQLException"></fault>
</operation>
<operation name="setKondisiAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setKondisiAsetRequest" message="tns:setKondisiAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setKondisiAsetResponse" message="tns:setKondisiAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setKondisiAset/Fault/SQLException"></fault>
</operation>
<operation name="insertKebutuhanMaintenance">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertKebutuhanMaintenanceRequest" message="tns:insertKebutuhanMaintenance"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertKebutuhanMaintenanceResponse" message="tns:insertKebutuhanMaintenanceResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertKebutuhanMaintenance/Fault/SQLException"></fault>
</operation>
<operation name="insertFasilitasAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertFasilitasAsetRequest" message="tns:insertFasilitasAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertFasilitasAsetResponse" message="tns:insertFasilitasAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertFasilitasAset/Fault/SQLException"></fault>
</operation>
<operation name="getAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetRequest" message="tns:getAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetResponse" message="tns:getAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAset/Fault/SQLException"></fault>
</operation>
<operation name="getAsetByKategori">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByKategoriRequest" message="tns:getAsetByKategori"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByKategoriResponse" message="tns:getAsetByKategoriResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByKategori/Fault/SQLException"></fault>
</operation>
<operation name="getAsetByNama">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByNamaRequest" message="tns:getAsetByNama"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByNamaResponse" message="tns:getAsetByNamaResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAsetByNama/Fault/SQLException"></fault>
</operation>
<operation name="getFasilitasAset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getFasilitasAsetRequest" message="tns:getFasilitasAset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getFasilitasAsetResponse" message="tns:getFasilitasAsetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getFasilitasAset/Fault/SQLException"></fault>
</operation>
<operation name="notifyMaintenanceToVendor">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyMaintenanceToVendorRequest" message="tns:notifyMaintenanceToVendor"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyMaintenanceToVendorResponse" message="tns:notifyMaintenanceToVendorResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyMaintenanceToVendor/Fault/SQLException"></fault>
</operation>
<operation name="sayHelloWorld">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/sayHelloWorldRequest" message="tns:sayHelloWorld"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/sayHelloWorldResponse" message="tns:sayHelloWorldResponse"></output>
</operation>
</portType>
<binding name="AssetLifecycleManagementPortBinding" type="tns:AssetLifecycleManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="close">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="insertJadwalMaintenance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registerVendor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setNamaAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setPemilikAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setKondisiAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="insertKebutuhanMaintenance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="insertFasilitasAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAsetByKategori">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAsetByNama">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFasilitasAset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="notifyMaintenanceToVendor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="sayHelloWorld">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AssetLifecycleManagementService">
<port name="AssetLifecycleManagementPort" binding="tns:AssetLifecycleManagementPortBinding">
<soap:address location="http://localhost:9000/AssetLifecycleManagement"></soap:address>
</port>
</service>
</definitions>