res/AssetLifecycleManagement.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.informatika.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.informatika.org/" name="AssetLifecycleManagementService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.informatika.org/" schemaLocation="http://localhost:9000/AssetLifecycleManagement?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="close">
<part name="parameters" element="tns:close"></part>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"></part>
</message>
<message name="getAsset">
<part name="parameters" element="tns:getAsset"></part>
</message>
<message name="getAssetResponse">
<part name="parameters" element="tns:getAssetResponse"></part>
</message>
<message name="registerAsset">
<part name="parameters" element="tns:registerAsset"></part>
</message>
<message name="registerAssetResponse">
<part name="parameters" element="tns:registerAssetResponse"></part>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"></part>
</message>
<message name="insertMaintenanceSchedule">
<part name="parameters" element="tns:insertMaintenanceSchedule"></part>
</message>
<message name="insertMaintenanceScheduleResponse">
<part name="parameters" element="tns:insertMaintenanceScheduleResponse"></part>
</message>
<message name="registerVendor">
<part name="parameters" element="tns:registerVendor"></part>
</message>
<message name="registerVendorResponse">
<part name="parameters" element="tns:registerVendorResponse"></part>
</message>
<message name="deleteAsset">
<part name="parameters" element="tns:deleteAsset"></part>
</message>
<message name="deleteAssetResponse">
<part name="parameters" element="tns:deleteAssetResponse"></part>
</message>
<message name="setAssetOwner">
<part name="parameters" element="tns:setAssetOwner"></part>
</message>
<message name="setAssetOwnerResponse">
<part name="parameters" element="tns:setAssetOwnerResponse"></part>
</message>
<message name="setAssetCondition">
<part name="parameters" element="tns:setAssetCondition"></part>
</message>
<message name="setAssetConditionResponse">
<part name="parameters" element="tns:setAssetConditionResponse"></part>
</message>
<message name="setAssetJenis">
<part name="parameters" element="tns:setAssetJenis"></part>
</message>
<message name="setAssetJenisResponse">
<part name="parameters" element="tns:setAssetJenisResponse"></part>
</message>
<message name="getAssetbyKategori">
<part name="parameters" element="tns:getAssetbyKategori"></part>
</message>
<message name="getAssetbyKategoriResponse">
<part name="parameters" element="tns:getAssetbyKategoriResponse"></part>
</message>
<message name="notifyVendor">
<part name="parameters" element="tns:notifyVendor"></part>
</message>
<message name="notifyVendorResponse">
<part name="parameters" element="tns:notifyVendorResponse"></part>
</message>
<message name="notifyProcurement">
<part name="parameters" element="tns:notifyProcurement"></part>
</message>
<message name="notifyProcurementResponse">
<part name="parameters" element="tns:notifyProcurementResponse"></part>
</message>
<portType name="AssetLifecycleManagement">
<operation name="close">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/closeRequest" message="tns:close"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/closeResponse" message="tns:closeResponse"></output>
</operation>
<operation name="getAsset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAssetRequest" message="tns:getAsset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAssetResponse" message="tns:getAssetResponse"></output>
</operation>
<operation name="registerAsset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAssetRequest" message="tns:registerAsset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAssetResponse" message="tns:registerAssetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerAsset/Fault/SQLException"></fault>
</operation>
<operation name="insertMaintenanceSchedule">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertMaintenanceScheduleRequest" message="tns:insertMaintenanceSchedule"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertMaintenanceScheduleResponse" message="tns:insertMaintenanceScheduleResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/insertMaintenanceSchedule/Fault/SQLException"></fault>
</operation>
<operation name="registerVendor">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendorRequest" message="tns:registerVendor"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendorResponse" message="tns:registerVendorResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/registerVendor/Fault/SQLException"></fault>
</operation>
<operation name="deleteAsset">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAssetRequest" message="tns:deleteAsset"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAssetResponse" message="tns:deleteAssetResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/deleteAsset/Fault/SQLException"></fault>
</operation>
<operation name="setAssetOwner">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetOwnerRequest" message="tns:setAssetOwner"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetOwnerResponse" message="tns:setAssetOwnerResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetOwner/Fault/SQLException"></fault>
</operation>
<operation name="setAssetCondition">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetConditionRequest" message="tns:setAssetCondition"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetConditionResponse" message="tns:setAssetConditionResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetCondition/Fault/SQLException"></fault>
</operation>
<operation name="setAssetJenis">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetJenisRequest" message="tns:setAssetJenis"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetJenisResponse" message="tns:setAssetJenisResponse"></output>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://service.informatika.org/AssetLifecycleManagement/setAssetJenis/Fault/SQLException"></fault>
</operation>
<operation name="getAssetbyKategori">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAssetbyKategoriRequest" message="tns:getAssetbyKategori"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/getAssetbyKategoriResponse" message="tns:getAssetbyKategoriResponse"></output>
</operation>
<operation name="notifyVendor">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyVendorRequest" message="tns:notifyVendor"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyVendorResponse" message="tns:notifyVendorResponse"></output>
</operation>
<operation name="notifyProcurement">
<input wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyProcurementRequest" message="tns:notifyProcurement"></input>
<output wsam:Action="http://service.informatika.org/AssetLifecycleManagement/notifyProcurementResponse" message="tns:notifyProcurementResponse"></output>
</operation>
</portType>
<binding name="AssetLifecycleManagementPortBinding" type="tns:AssetLifecycleManagement">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="close">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAsset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerAsset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="insertMaintenanceSchedule">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="registerVendor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAsset">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setAssetOwner">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setAssetCondition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setAssetJenis">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAssetbyKategori">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="notifyVendor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="notifyProcurement">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AssetLifecycleManagementService">
<port name="AssetLifecycleManagementPort" binding="tns:AssetLifecycleManagementPortBinding">
<soap:address location="http://localhost:9000/AssetLifecycleManagement"></soap:address>
</port>
</service>
</definitions>